.Container{
    position: fixed;
    bottom: 0;
    width: 100%;

}

.UpBtn{
    background-color: #37475a;
    text-align: center;
    font-size: 2em;
    padding-bottom: 1%;
}

.UpBtn:hover{
    background-color: #485769;
}

.FooterWrap{
    background-color: #232f3e;
    height: 100%;
}

.UpIcon:hover{
    font-size: 45px;
}

.UpIcon{
    color: white;
    vertical-align: bottom;
}

.FooterLogo{
    width: 100px;
    object-fit: contain;
    margin: 0 2% 1% 40%;

}

.Content{
    margin: 0 10% 0 25%;
    padding: 2% 0 1% 0;
}

.Title{
    color:white;
    font-size: large;
    line-height: 2em;
}

.TextWrap{

    padding: 0 2% 1.5% 2%;
    margin-bottom: 1%;
    float: left;
    vertical-align: super;
    color: white;
    font-size: small;
}

.TextWrap:last-child{
    float: none;
}

.FooterText{
    color: white;
    vertical-align: top;
    height: 50px;
}


