.Container{
    background-color: black;
    padding: 0.1% 0 0.6% 2%;
    position: sticky;
  }

  .HeaderWrap{
    position: sticky;
    top: 0;
  }

  .Hamburger{
    width: 2.8%;
    padding: 0.1%;
    height: 32px;
    border: 1px solid #666;
    margin-bottom: -15px;
  }

  .HeaderImg{
    width:6%;
    height: 35px;
    margin: 2px 1.5% 0 1.5%;
    vertical-align: middle;
  }

  .SearchInput{
    width: 55%;
    height:37px;

  }

  .SearchIcon{
    margin-right: 2%;
    vertical-align: bottom;
    width: 30px;
    height: 25px;
    padding: 0.35%;
    background-color: #cd9042;
  }

  .Menu{
    display: inline-block;
    color: white;
    vertical-align: bottom;
  }

  .Title{
    font-size: 13px;
  }

  .SmallTitle{
    display: flex;
  }

  .Next{
    display: inline-block;
    margin-right: 30px;
    text-align: center;
  }

  .Cart{
    width: 40px;
    height: 33px;
    vertical-align: bottom;
  }




  .ListContainer{
    color: white;
    background-color: #232f3e;
    padding-left: 1%;
  }

  .MapFinWrap{
    display: inline-block;
    width: 2%;
    margin-right: 0.3%;
  }

  .MapFinIcon{
    width: 25px;
    height: 40px;
  }

  .Place{
    display: inline-block;
    margin-right: 12%;
  }

  .ListsWrap{
    display: inline-block;
    width: 47%;
    vertical-align: super;
  }

  .List{
    margin-right: 2%;
    font-size: 14px;
  }

  .ImgWrap{
    display: inline-block;
  }

  .Link{
    text-decoration: none;
    color: white;
  }